.DS_Store
.idea
.env

app/auth.json
app/logs/*
app/vendor/*
app/web/plugins/*
app/web/themes
app/web/*.md
app/web/uploads
app/web/dumps
app/web/license.txt
app/web/.htaccess
app/web/readme.html
app/wp/*
backups
!app/wp/.gitkeep
!app/web/plugins/omitsis*
!app/web/plugins/tamarind*
!app/web/themes/theme

config/ssl/*

node_modules
