.DS_Store
.idea
.env

app/auth.json
app/dumps/*
app/logs/*
app/vendor/*
app/web/.htaccess
app/web/advanced-cache.php
app/web/cache
app/web/license.txt
app/web/omitsis-logs
app/web/plugins/*
app/web/readme.html
app/web/themes
app/web/uploads
app/web/w3tc-config
app/wweb/wflogs
app/web/*.md

app/wp/*

backups

!app/wp/.gitkeep
!app/web/plugins/omitsis*
!app/web/plugins/tamarind*
!app/web/themes/theme

config/ssl/*

node_modules
