.DS_Store
.idea
.env

wp_core*
app/wp-admin
app/wp-includes
app/auth.json
app/wp-content/plugins
app/wp-content/wp-admin
app/wp-content/wp-includes
app/wp-content/debug.log
app/wp-content/*.md
!app/wp-content/plugins/omitsis*
!app/wp-content/plugins/tamarind*
app/wp-content/uploads
app/dumps
app/node_modules
app/wp-*.php
app/debug.log
app/license.txt
app/.htaccess
app/readme.html
app/logs
app/xmlrpc.php

config/ssl/*
db.backup.sql

wp_backup*

/app/wp-content/node_modules/
